<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
        type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.10.2/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <title>Topicando</title>
    <link rel="icon" href="/static/img/logo.svg">

    <script src="https://unpkg.com/three"></script>
    <script src="https://unpkg.com/three-spritetext"></script>
    <script src="https://unpkg.com/element-resize-detector/dist/element-resize-detector.min.js"></script>
    <script src="https://unpkg.com/3d-force-graph"></script>

    <style>
        .node-label {
            font-size: 12px;
            padding: 1px 4px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.5);
            user-select: none;
        }
    </style>
</head>

<body>
    <div id="q-app">
        <q-layout view="hHh LpR lFr">
            <q-header elevated class="bg-primary text-white">
                <q-toolbar>
                    <q-toolbar-title>
                        <q-avatar>
                            <img src="/static/img/logo.svg">
                        </q-avatar>
                        <b>Topicando</b>
                    </q-toolbar-title>
                </q-toolbar>
            </q-header>

            <q-page-container>
                <q-page class="q-pa-sm">
                    <q-stepper v-model="step" dense>
                        <q-step
                            :name="1"
                            title="Data Selection"
                            icon="table_view"
                            done-icon="table_view"
                            :done="step > 1"
                        >
                            <div class="col col-xs-12 col-sm-6 q-mb-sm">
                                <q-file
                                    v-model="csvData.csvFile"
                                    accept=".csv"
                                    label="CSV File"
                                    filled
                                    @update:model-value="(value) => { loadCSV() }"
                                >
                                    <template v-slot:prepend>
                                        <q-icon name="description"></q-icon>
                                    </template>
                                </q-file>
                            </div>
                            <div class="col col-xs-12 col-sm-6 q-mb-sm">
                                <q-select
                                    v-model="csvData.csvColumn"
                                    label="CSV Column"
                                    filled
                                    :options="csvData.csvColumns"
                                    :disable="csvData.csvColumns.length == 0"
                                >
                                    <template v-slot:prepend>
                                        <q-icon name="view_column"></q-icon>
                                    </template>
                                </q-select>
                            </div>

                            <div class="col col-xs-12 flex justify-end">
                                <q-btn
                                    @click="proccessInfo"
                                    no-caps
                                    label="Send"
                                    color="primary"
                                    :disable="csvData.csvColumn == null || csvData.csvColumn == ''"
                                ></q-btn>
                            </div>
                        </q-step>

                        <q-step
                            :name="2"
                            title="Data Process"
                            icon="settings_suggest"
                            :done="step > 2"
                        >
                            <div class="col-12 flex justify-start row q-mb-sm">
                                <div class="q-pa-xs col-12 col-sm-2 row">
                                    <q-btn class="col-12" :disable="loadingProcess" @click="step = 1" no-caps label="Previous" color="primary"></q-btn>
                                </div>
                                <div class="q-pa-xs col-12 col-sm-4">
                                    <q-select label="Analisis Mode" v-model="analisisMode" :options="analisisModes" outlined dense>
                                </div>
                                <div class="q-pa-xs col-12 col-sm-4 row">
                                    <q-btn class="col-12" :disable="loadingProcess" @click="dialogFilter = true" flat outline no-caps label="Filter: 0 words"></q-btn>
                                </div>
                                <div class="q-pa-xs col-12 col-sm-2 row">
                                    <q-btn class="col-12" :disable="loadingProcess" @click="getChartData" no-caps label="Analize" color="positive"></q-btn>
                                </div>
                            </div>

                            <div v-if="loadingProcess" class="col col-xs-12 flex justify-center q-pb-md">
                                <q-spinner color="primary" size="64px"></q-spinner>
                            </div>
                            <div id="grafico" :style="fullScreenMode ? 'position: fixed; z-index: 2005; left: 0; top: 0; min-width: 100vw; min-height: 100vh;' : ''" class="col col-xs-12 flex q-mb-md"></div>
                        </q-step>

                    </q-stepper>

                    <q-page-sticky position="bottom-right" :offset="[18, 18]">
                        <q-btn
                            fab
                            icon="fullscreen"
                            color="primary"
                            @click="toggleFullScreen"
                        >
                        </q-btn>
                    </q-page-sticky>
                </q-page>
            </q-page-container>

            <q-dialog v-model="dialogFilter" full-width>
                <q-layout view="Lhh lpR fff" container class="bg-white">
                    <q-header class="bg-primary">
                        <q-toolbar>
                            <q-toolbar-title>Filter</q-toolbar-title>
                            <q-btn flat v-close-popup round dense icon="close"></q-btn>
                        </q-toolbar>
                    </q-header>
                    <q-page-container>
                        <q-page class="q-pa-none row">
                            <div class="col-12 col-sm-6 col-md-4 q-pa-sm">
                                <q-table
                                    title="Sources"
                                    :columns="sourceEdgeTargetColumns"
                                    :rows="procesedInfo.sources"
                                    v-model:selected="selectedSources"
                                    selection="multiple"
                                    row-key="text"
                                ></q-table>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 q-pa-sm">
                                <q-table
                                    title="Edges"
                                    :columns="sourceEdgeTargetColumns"
                                    :rows="procesedInfo.edges"
                                    v-model:selected="selectedEdges"
                                    selection="multiple"
                                    row-key="text"
                                ></q-table>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 q-pa-sm">
                                <q-table
                                    title="Targets"
                                    :columns="sourceEdgeTargetColumns"
                                    :rows="procesedInfo.targets"
                                    v-model:selected="selectedTargets"
                                    selection="multiple"
                                    row-key="text"
                                ></q-table>
                            </div>
                        </q-page>
                    </q-page-container>
                </q-layout>
            </q-dialog>
        </q-layout>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.2/dist/quasar.umd.prod.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.min.js"></script>

    <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/networkgraph.js"></script> -->

    <script type="importmap">
        {
            "imports": { "three": "https://unpkg.com/three/build/three.module.js" }
        }
    </script>

    <script type="module" src="/static/js/index.js"></script>
</body>

</html>